/* Write your CSS here */
.course-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.list-ele {
  margin: 10px;
  background-color: lightslategray;
}
